@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Inter;
}

:root{
    --primary: #000000
}

a{
    text-decoration: none;
    color: var(--primary);
}

.nav{
    position: fixed;
    top: 16px;
    height: 80px;
    z-index: 10;
    width: 100%;
}

.nav__container{
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    color: var(--primary);
    background-color: white;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    padding: 0 20px;
    border-radius: 8px;
}


.nav__logo{
    font-size: 18px;
    font-weight: 700;
}

.nav__links{
    display: flex;
    align-items: center;
    gap: 16px;

}

.nav__links{
    font-weight: 600;
    font-size: 16px;
}

.nav__link__btn{
    background-color: var(--primary);
    color: white;
    padding: 8px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 9999px;
}